header {
    width: 1440px;
    background-color: #2A9D8F;
    padding: 38px 130px;
    display: block;
    margin: 0 auto;
}

.header_logo {
    vertical-align: middle;
}

nav {
    display: inline-block;
    vertical-align: middle;
    margin-left: 357px;
    margin-right: 357px;
}

li {
    font-family: 'Nerko One';
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;

}

.header_text {
    display: inline-block;
}

.middle {
    margin: 0 51px;
}

.header_button {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #2A9D8F;
    vertical-align: middle;
    background-color: #FFFFFF;
}

article {
    width: 780px;
    margin: 200px auto;
    display: block;
}

h2 {
    margin-bottom: 8px;
    font-family: 'Poppins', sans-serif;
    color: #4D4D4D;
    font-size: 48px;
    font-weight: 500;
    text-align: center;

}

.article_text {
    margin-top: 52px;
    color: #656565;
    font-family: 'Nerko One';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

section {
    margin: 0 auto;
    width: 1440px;
    display: block;
    background-color: #C2F3EE;
    padding: 80px 130px;
}

.top_section_img {
    vertical-align: top;
    margin-right: 80px;
    display: inline-block;
}

.top_section_div {
    vertical-align: top;
    display: inline-block;
    width: 486px;
}

h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
    color:  #272727;

}

.top_section_text {
    margin-top: 27px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;

}

.top_section_button {
    color: #FFFFFF;
    background-color: #2A9D8F;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 11px 16px;
    margin-top: 45px;
}