header {
    width: 1440px;
    background-color: #2A9D8F;
    padding: 38px 130px;
    display: block;
    margin: 0 auto;
}

.header_logo {
    vertical-align: middle;
}

nav {
    display: inline-block;
    vertical-align: middle;
    margin-left: 357px;
    margin-right: 357px;
}

li {
    font-family: 'Nerko One'; 
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;

}

.header_text {
    display: inline-block;
}

.middle {
    margin: 0 51px;
}

button {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #2A9D8F;
    vertical-align: middle;

}